<div class="uk-section">
  <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match">
      <div class="uk-card uk-card-default uk-card-body">
        <img src="{{this.beer_logo}}" alt="Brewery Picture"/>
      </div>
    </div>
    <div>
      <h3>{{this.beer_name}}</h3>
      <ul class="uk-list">
        <li>
          Brewery: <a class="breweryClick" href="/brewery/:id">{{this.brewery_name}}</a>
        </li>

        <li>
          Style: {{this.beer_style}}
        </li>

        <li>
          Description: {{this.beer_description}}
        </li>
      </ul>

    </div>

    <div>
      <ul class="uk-list">
        <li>
          ABV: {{this.beer_abv}}
        </li>

        <li>
          IBU: {{this.beer_ibu}}
        </li>
      </ul>
    </div>
  </div>
</div>