<!-- TEST LAYOUT OF INDEX TEMPLATE FOR TEST TABLE INFO -->
<div class="uk-child-width-expand@s" uk-grid>
  <div class="uk-grid-item-match">
    <div class="uk-card uk-card-default uk-card-body">
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet.
      </p>
    </div>
   </div>
  <div>
    <h3>{{this.id}}</h3>
    <ul>
      <li>
        Established: {{this.info}}
      </li>

      <li>
        Website: {{this.info}}
      </li>

      <li>
        Address: {{this.info}}
      </li>
    </ul>

    <p>
      {{this.info}}
    </p>
  </div>
</div>
