<div class="uk-section">
  <h2>Welcome to our Foam DB! Checkout our database by brewery or by beer!</h2>

  <table class="uk-table uk-table-striped uk-table-hover">
    <thead>
      <tr>
        <th>Beer</th>
        <th>Brewery</th>
        <th>Style</th>
      </tr>
    </thead>


    <tbody>

      {{#each beerName}}
      <tr>
        <td><a class="beerClick" href="/beer/{{this.id}}">{{this.beer_name}}</a></td>
        <td><a class="breweryClick" href="/brewery/{{this.brewery_name}}">{{this.brewery_name}}</a></td>
        <td>{{this.beer_style}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <ul class="uk-pagination uk-flex-center">
    <li><a href="/db">1</a></li>
    <li><a href="/db2">2</a></li>
    <li><a href="/db3">3</a></li>
    <li><a href="/db4">4</a></li>
    <li><a href="/db5">5</a></li>
  </ul>
</div>
